<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/bundled.min.css') }}"/>
    <script href="{{ asset('assets/js/bundled.min.jsgit') }}"></script>
</head>
<body>
<header>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header"><a href="{{ path('homepage') }}">BLOG</a></div>
            <div class="navbar-collapse">
                <ul class="navbar navbar-nav navbar-right">
                    <li><a href="{{ path('admin_home') }}">ADMIN</a></li>
                    {% if app.user %}
                        <li><a href="{{ path('fos_user_security_logout') }}">LOGOUT</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">LOGIN</a> </li>
                    {% endif %}


                </ul>
            </div>


        </div>

    </div>
</header>
<div class="container body-container">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
